.wrapper {
  max-width: 300px;
  margin: auto;
  background-color: #fff;
  border-radius: 3px;
  padding: 15px 0;
}

.buttonContainer {
  padding: 0 15px;
}

.resultText {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #1b1918;
  margin: 0px;
  padding-bottom: 0px;
  padding-top: 10px;
}

p {
  margin: 0px;
  font-size: 12px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 20px;
  color: gray;
}

.resultContainer {
  background-color: #f5f6f7;
  margin-bottom: 28px;
  cursor: pointer;
  font-size: 14px;

  .resultTable {
    width: 100%;
    border-collapse: collapse;

    th {
      :first-child {
        font-weight: 700 !important;
      }

      padding: 12px 8px;
      text-align: left;
      background-color: #d5d7d9;
      font-weight: normal;
    }

    td {
      padding: 8px;
    }

    tr:nth-child(odd) {
      background-color: #eceeee;
    }
  }
}