.wrapper {
  max-width: 300px;
  margin: auto;
  background-color: #fff;
  border-radius: 3px;
  padding: 15px 0;
  margin-bottom: 30px;
}

input {
  width: 100%;
  border: 0;
  margin-left: 10px;
  background-color: transparent;
  font-size: 15px;
  color: #303030;
}

.inputContainer {
  width: 100%;
  border: 2px solid #d5d7d9;
  border-radius: 6px;
  height: 30px;
  overflow: hidden;
  padding-top: 5px;
  background-color: #f5f6f7;
  margin-bottom: 15px;
}

h3 {
  font-size: 14px;
  margin: 2px;
  padding-left: 0;
  color: #1b1918;
  font-family: Arial;
  font-weight: bold;
  padding-bottom: 5px;
}

.buttonContainer {
  padding: 0 15px;
}

.currencyInputHeader {
  padding: 0 15px;
}

.multiSelectContainer {
  padding: 0 15px;
}

// new component

.multiSelectWrapper {
  border: 2px solid #d5d7d9;
  background-color: #f5f6f7;
  border-radius: 6px;
  margin-bottom: 28px;

  .option {
    display: flex;
    padding: 5px 10px;
    cursor: pointer;

    .currency {
      flex: 1;
      background-color: transparent;
      font-size: 14px;
      color: #303030;
      font-weight: bold;
    }
    .value {
      flex: 1;
      background-color: transparent;
      font-size: 14px;
      color: #303030;
      font-weight: bold;
    }
  }
}
