.button {
  background-color: #1abc9c;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  padding: 8px 0;
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
  border: 2px solid #16a085;
  cursor: pointer;
  &:hover {
    background-color: #16a085;
  }
}
